# Spin up a MYSQL instance to test all things JOOQ
services:
  db:
    container_name: db
    restart: always
    image: mysql
    ports:
     - "3306:3306"  
    environment:
       - MYSQL_ROOT_PASSWORD=mysql
       - MYSQL_DATABASE=mydatabase
    volumes:
       - /c/Users/samsn/Desktop/Software\ Projects/jooqmysqlvolume/data:/var/lib/mysql
  admin:
    image: adminer
    container_name: adminer
    restart: always
    depends_on: 
      - db
    ports:
      - 8088:8080     