replicaCount: 2

image:
  repository: bookstore-auth-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 9000
  targetPort: 9000

env:
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:mysql://mysql:3306/mydatabase?serverTimezone=UTC"
  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
        name: mysql-secret
        key: username
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mysql-secret
        key: password
  - name: STRIPE_API_KEY
    valueFrom:
      secretKeyRef:
        name: stripe-secret
        key: api-key
  - name: REDIRECT_URL
    value: "http://localhost:5173"

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi
