apiVersion: v1
kind: Service
metadata:
  name: {{ include "entity-service.fullname" . }}
  labels:
    app: entity-service
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    app: entity-service
